.header {
  margin-bottom: 2%;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex > .sensorX {
  margin-left: 2%;
  position: relative;
  width: 22%;
  float: left;
}

.flex > .sensorX > .dropdown {
  position: relative;
}

.flex > .sensorX > .schwellenwert {
  position: relative;
  float: left;
}

.flex > .sensorX > .toggle {
  position: relative;
  float: right;
  right: 10%;
}

.upload {
  position: relative;
  float: left;
  left: 5%;
  width: 30%;
}

.tracking{
  margin-top: 2%;
}

#svg {
  position: relative;
  float: right;
  right: 5%;
  width: 60%;
  /*transform: scale(0.5, 0.5);*/
}
