.header {
  position: relative;
  left: 2%;
}

.sensorX {
  position: relative;
  width: 23%;
  float: left;
  left: 3%;
}

.dropdown {
  position: relative;
}

.schwellenwert {
  display: none;
  position: relative;
  float: left;
}

.toggle {
  position: relative;
  float: right;
  right: 10%;
}

.upload {
  position: relative;
  float: left;
  left: 3%;
  width: 30%;
}

#svg {
  position: relative;
  float: right;
  right: 2%;
  /*transform: scale(0.5, 0.5);*/
}
